<form action="/contacts" method="post">
  <div class="mb-3">
    <label>Name:</label>
    <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
<div class="mb-3">
  <label>Email address</label>
  <input name="name_email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label>Some text</label>
  <textarea name="context_area" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
  <br/>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
